.btnEditChild {
    display: block;
    width: fit-content;
    margin-top: -3px;
    border-radius: 8px;
}
.btnEditChild li {
    display: flex;
    width: fit-content;
    height: fit-content;
    align-items: center;
}
.btnEditChild:hover li i {
    transform: scale(1.07);
}
.btnEditChild:active li i {
    transform: scale(0.95);
}

.btnEditChild li i {
    display: block;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    font-size: 12px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: var(--boxShadow) inset;
}
.btnEditChild i{
    background-color: #ffbf00;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 3px black;
}