:root {
    --g_green: #00b359;
}
.g_d_none {
    display: none;
}
.g_d_flex {
    display: flex;
}
.g_flex_column {
    flex-direction: column;
}
.g_flex_1 {
    display: flex;
}
.g_p_absolute {
    position: absolute;
}
.g_p_relative {
    position: relative;
}
.g_right_2 {
    right: 10px;
}
.g_justify-content-start {
    justify-content: start !important;
}
.g_justify-content-center {
    justify-content: center !important;
}
.g_justify-content-end {
    justify-content: end !important;
}
.g_d_block {
    display: block;
}
.g_tag {
    display: flex;
    flex-direction: column;
}
.g_header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-weight: 500;
    color: white;
    background-color: var(--g_green);
    border-bottom: solid 1px var(--themeBorderColorChild);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-shadow: 0 0 3px black;
    user-select: none;
}
.g_title i {
    margin-right: 10px;
}
.g_status i {
    font-size: 20px;
}
.g_header i:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: 200ms;
}
.g_header i:active {
    transform: scale(0.9);
}

.g_body {
    position: relative;
    flex: 1;
    overflow: scroll;
    background-color: rgb(225, 225, 225);
}
.g_body::-webkit-scrollbar {
    display: none;
}
.g_description {
    position: absolute;
    width: 100%;
    top: 0;
    padding: 5px 10px;
    color: rgb(30, 30, 30);
    font-size: var(--fontSizeTextMini);
    background-color: rgb(202, 202, 202);
    box-shadow: 0 0 1px rgb(68, 68, 68);
}

.g_footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 4px 10px;
    background-color: rgb(70, 70, 70);    
    color:  white;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

}
.g_footer > div {
    font-size: var(--fontSizeMini);
}
.g_createdAt, .g_updatedAt{
    font-size: var(--fontSizeMini);
}

.g_item {
    padding: 10px;
    margin: 3px;
    box-shadow:  0 0 2px rgb(66, 66, 66);
    border-radius: 2px;
    background-color: rgb(250, 250, 250);
    color: rgb(50, 50, 50);
    font-weight: 500;
}
.g_padding {
    padding: 10px;
}

.g_boxpriority_1 {
    color:  #ffee00;
}
.g_boxpriority_1 + span {
    color: #ffffff;
}
.g_boxpriority_2, .g_priority_0 {
    color: white;
    text-shadow: 0 0 2px black;
}
.g_boxpriority_3 {
    color: rgb(188, 188, 188);
    text-shadow: 0 0 3px rgb(0, 0, 0);
}
.g_boxpriority_3 + span {
    color: rgb(188, 188, 188);
}

.g_boxsuccess {
    color:  #ffee00;
}
.g_success {
    color: var(--g_green);
}

.g_status_0 {
    color: #ae00ff;
}
.g_status_1 {
    color:  black;
}
.g_status_1 + span {
    text-decoration: line-through;
    font-weight: unset;
    color:  rgb(50, 50, 50); 
}

.g_upcase {
    text-transform: uppercase;
}
.g_center {
    justify-content: center;
}
.g_loosen_up_child > div:not(.g_loosen_up_child > div:last-child) {
    margin-bottom: 10px;
}
.g_m_0 {margin: 0 !important}
.g_m_t1 {margin-top: 5px;}
.g_m_t2 {margin-top: 10px;}
.g_m_t3 {margin-top: 20px;}
.g_m_r1 {margin-right: 5px;}
.g_m_r2 {margin-right: 10px;}
.g_m_r3 {margin-right: 20px;}
.g_m_b1 {margin-bottom: 5px;}
.g_m_b2 {margin-bottom: 10px;}
.g_m_b3 {margin-bottom: 20px;}
.g_m_l1 {margin-left: 5px;}
.g_m_l2 {margin-left: 10px;}
.g_m_l3 {margin-left: 20px;}
.g_j-c_space-between  {
    justify-content: space-between;
}
.g_w_50 {
    width: 50% !important;
    margin-right: 3px;
}
.g_h_50 {
    height: 50% !important;
}
.g_w_25 {
    width: 25% !important;
    margin-right: 3px;
}

.g_label {
    padding: 5px 0px;
}
.g_input {
    width: 100%;
    padding: 7px;
    border: solid 1px rgb(170, 170, 170);   
    border-radius: 5px;
    outline: unset;
    font-size: var(--fontSizeTextMini);
}
.g_textarea {
    width: 100%;
    height: 100px;
    resize: none;
    padding: 7px;
    border: solid 1px rgb(170, 170, 170);   
    border-radius: 5px;
    outline: unset;
    font-size: var(--fontSizeTextMini);
}
.g_select {
    width: 100%;
    padding: 7px;
    border: solid 1px rgb(170, 170, 170);   
    border-radius: 5px;
    outline: unset;
    font-size: var(--fontSizeTextMini);
}
.g_time {
    width: 45px;
    user-select: none;
    padding: 7px;
    border: solid 1px rgb(170, 170, 170);   
    border-radius: 5px;
    outline: unset;
    font-size: var(--fontSizeTextMini);
}
.g_color_table {
    width: 100%;
}
.g_input:focus, .g_textarea:focus, .g_select:focus, .g_date:focus {
    border: solid 1px rgb(86, 86, 86);
}
.g_img_container {
    border: solid 1px rgb(170, 170, 170);
    height: 200px;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
}
.g_img_container > .g_img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.g_dialog {
    width: 80%px;
    max-width: 350px;
    min-width: 250px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: var(--boxShadow1);
}
.g_message_dialog {
    text-align: center;
    padding: 20px 20px;
    font-weight: 500;
    font-size: var(--fontSizeTextMini);
    background-color: rgb(228, 228, 228);
}
.g_option_btn {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.g_scroll {
    overflow: scroll;
}
.g_scroll-x {
    overflow-x: scroll;
    overflow-y: hidden;
}
.g_scroll-y {
    overflow-y: scroll;
    overflow-x: hidden;
}
.g_scroll::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
    height: 5px;
}
.g_scroll-mini::-webkit-scrollbar {
    width: 3px !important;
    height: 3px !important;
}
  
.g_scroll::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
.g_scroll::-webkit-scrollbar-corner {
    display: none;
}