.display-none  {
    display: none;
}
.display-block {
    transition: 200ms;
    display: block;
}

.slide-down {
    animation: slideDown 500ms alternate;
}
@keyframes slideDown {
    0% {
        height: 0px;
    }
    100% {
        height: 200px;
    }
}