:root {
    --themeColor: rgb(30, 30, 30);
    --themeNavBarColor: rgb(30, 30, 30);
    --themeBackgroundColor: #f4f4f4;
    --textColor: rgb(0, 0, 0);
    --fontSizeText: 14px;

    
    --boxShadow: 0 0 9px -3px rgb(0, 0, 0);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: var(--fontSizeText);
}

body {
    background-color: var(--themeBackgroundColor);
}

#root {
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--textColor);
}