.container {
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.router {
    width: 80%;
    height: auto;
    border: none;
    box-shadow: 0 0 20px black;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0;
}

.columnIcon {
    font-size: 3em;
    color: antiquewhite;
}

.columnContent {
    padding: 10px;
    color: antiquewhite;
    text-align: center;
}

.content {
    width: 100%;
    height: 200px;
    border: 1px solid red;
}

.column {
    width: 200px;
    height: 180px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: rgba(61, 61, 61, 0.4);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 0 black;
    transition: box-shadow 0.3s ease-in-out;
}

.column:hover {
    box-shadow: 0 0 20px black;
    cursor: pointer;
}

.title {
    font-size: 2em;
    text-align: center;
    color: white;
    text-shadow: 0 0 10px black;
}