.main {
    width: 100%;
    height: 500px;
    /*background-color: red;*/
    margin: 0;
}

.container {
    margin: 0 auto;
    width: 1000px;
    height: 100%;
    border: none;
    display: flex;
    flex-direction: row;
    background-color: #fff;
}

.title {
    font-size: 1.3em;
    font-weight: bold;
    padding: 20px;
}

.title::after {
    content: '';
    display: block;
    width: 40%;
    height: 1px;
    background-color: black;
    margin: 0 auto;
}

.wallet {
    padding: 20px;
    font-size: 2.5em;
    margin-top: -20px;
}

.wallet::after {
    content: ' đ';
}

.leftSide {
    width: 300px;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rightSide {
    width: calc(100% - 300px);
    height: 100%;
    background-color: transparent;
    border-style: none none none solid;
    border-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.walletContainer, .costContainer, .listContainer {
    text-align: center;
}

.circle {
    width: 50%;
    height: 100%;
    border-radius: 100%;
    margin: 0 auto;
}

.circleBar {
    overflow: hidden;
    width: 450px;
    height: 450px;
    background-color: transparent;
    position: relative;
    border: 1px solid black;
    border-radius: 100%;
}

.yourCate, .statistic, .list, .addItem, .dot {
    position: absolute;
    transition: font-size 500ms, margin-top 500ms, margin-left 500ms;
}


.yourCate {
    transform: translate(195px, 70px);
}

.statistic {
    transform: translate(320px, 195px);
}

.list {
    transform: translate(195px, 330px);
}

.addItem {
    transform: translate(40px, 195px);
}

.addItem:hover, .list:hover, .statistic:hover, .yourCate:hover {
    cursor: pointer;
    font-size: 2em;
    margin-top: -30px;
    margin-left: -25px;
}

.dot {
    border: 0 none black;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: black;
    transform: translate(225px, 225px);
}

.lineUp {
    position: absolute;
    transform: rotate(-45deg) translate(-160px, 165px);
    width: 450px;
    height: 2px;
    background-color: black;
}

.lineDown {
    position: absolute;
    transform: rotate(45deg) translate(160px, 157px);
    width: 450px;
    height: 2px;
    background-color: black;
}

.icon {
    width: 40px;
    height: 40px;
    font-size: 1.5em;
}