.main {
    position: relative;
    width: 80%;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    height: 100%;
    background-color: var(--themeColor);
    border: solid 1px var(--themeBorderColor);
}

.container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border: none;
    display: flex;
    align-items: stretch;
    background-color: #fff;
    padding: 10px;
}

.title {
    font-size: 1em;
    padding: 0 0 5px 0;
    text-align: left;
    text-shadow: 0 0 2px black;
}

.wallet {
    font-size: 1.3em;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    color: black !important;
    background-color: white;
    box-shadow: 0 0 3px black;
    border-radius: 8px;
    border: 1px solid white;
}

.wallet::after {
    content: ' đ';
}

.leftSide {
    width: 200px;
    height: 100%;
    background-color: transparent;
    align-items: center;
    margin-right: 10px;
}

.rightSide {
    flex: 1;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 3px black;
    border-radius: 8px;
}

.walletContainer, .costContainer, .listContainer {
    text-align: center;
    box-shadow: 0 0 3px black;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
}
.walletContainer, .costContainer {
    color: white;
}

.walletContainer {
    background-color: #00B008;
}

.costContainer {
    background-color: #D68500;
}

.circle {
    width: 50%;
    height: 100%;
    border-radius: 100%;
    margin: 0 auto;
}

.circleBar {
    overflow: hidden;
    width: 400px;
    height: 400px;
    background-color: transparent;
    position: relative;
    border: 1px solid black;
    border-radius: 100%;
    margin: 20px;
}

.yourCate, .statistic, .list, .addItem{
    width: 100%;
    height: auto;
    box-shadow: 0 0 3px black;
    padding: 5px 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.addItem:hover, .list:hover, .statistic:hover, .yourCate:hover {
    cursor: pointer;
}

.menuIcon {
    width: 30px;
    height: 30px;

}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 2px solid black;
    background-color: #fff;
    transform: translate(196px, 196px);
}

.lineUp {
    position: absolute;
    transform: rotate(-45deg) translate(-160px, 130px);
    width: 450px;
    height: 2px;
    background-color: black;
}

.lineDown {
    position: absolute;
    transform: rotate(45deg) translate(140px, 157px);
    width: 450px;
    height: 2px;
    background-color: black;
}

.icon {
    width: 30px;
    height: 30px;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #393939;
    color: white;
    margin-right: 10px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
