.btnNew {
    display: block;
    width: 100%;
    margin-bottom: 8px;
}
.btnNew li {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}
.btnNew:hover li i {
    transform: scale(1.07);
}
.btnNew:active li i {
    transform: scale(1);
}

.btnNew li i {
    display: block;
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: var(--boxShadow) inset;
}
.btnNew i{
    background-color: #00ff66;
    color: white;
    text-shadow: 0 0 3px black;
}