.dateTag {
    width: 100%;
    height: 100%;
    background-color: var(--themeBackgroundColorChild);
    border-radius: 3px;
}

.tagName {
    text-transform: capitalize;
}
.tagBody {
    padding: 0px 0px 0px 4px;
}
.tagContainer {
    width: 100%;
    height: 100%;
    padding: 2px 1px 2px 1px;
    background-color: rgb(245, 245, 245);
}
.tagMain {
    width: 100%;
    height: 864px;
    position: relative;
}
.time {
    z-index: 3;
    position: absolute;
    user-select: none;
    pointer-events: none;
    cursor: pointer;
    width: 0;
    height: 0;
    left: 5px;
    line-height: 0;
}
.time1 {
    font-size: 9px;
    font-weight: bolder;
}
.time2 {
    font-size: 7px;
    font-weight: 500;
}
.line {
    z-index: 0;
    pointer-events: none;
    user-select: none;
    position: absolute;
    width: 70% !important;
    height: 0;
    right: 5px;
    border-top: solid 1px rgb(199, 199, 199);
}
.line0 {
    z-index: 3;
    position: absolute;
    width: 3px;
    height: 0;
    right: 5px;
    border-top: solid 1px rgb(199, 199, 199);
}
.line1 {
    width: 6px;
    border-color: rgb(26, 26, 26);
}
.line2 {
    border-color: rgb(147, 147, 147);
}
.presentTime {
    z-index: 3;
    pointer-events: none;
    user-select: none;
    position: absolute;
    width: 100% !important;
    height: 1px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
}
.presentTime > i:first-child {
    font-size: 13px;
    line-height: 1px;
    margin-left: -3px;
}
.presentTime > i:last-child {
    font-size: 13px;
    line-height: 1px;
    margin-right: -3px;
}
.tag {
    position: absolute;
    top: 100px;
    height: 100px;
    width: 100%;
}
.taskContainer {
    position: absolute;
    width: 100%;
    height: fit-content;
    z-index: 1;
}
.taskContainer:hover {
    border: solid 1px rgb(46, 46, 46);
    z-index: 4;
    border-radius: 3px;
}