.btnClean {
    display: block;
    width: fit-content;
    margin-bottom: 8px;
    border-radius: 8px;
}
.btnClean li {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}
.btnClean:hover li i {
    transform: scale(1.07);
}
.btnClean:active li i {
    transform: scale(1);
}

.btnClean li i {
    display: block;
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: var(--boxShadow) inset;
}
.btnClean i{
    background-color: #ff002b;
    color: white;
    text-shadow: 0 0 3px black;
}