.btnDeleteChild {
    display: block;
    width: fit-content;
    margin-top: -3px;
    border-radius: 8px;
}
.btnDeleteChild li {
    display: flex;
    width: fit-content;
    height: fit-content;
    align-items: center;
}
.btnDeleteChild:hover li i {
    transform: scale(1.07);
}
.btnDeleteChild:active li i {
    transform: scale(0.95);
}

.btnDeleteChild li i {
    display: block;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    font-size: 12px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: var(--boxShadow) inset;
}
.btnDeleteChild i{
    background-color: #ff002b;
    color: white;
    text-shadow: 0 0 3px black;
}