.list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.btn {
    outline: none;
    border: none;
    font-size: 2em;
    background-color: transparent;
}

.content {
    padding: 5px;
}

.content:hover::after {
    content: '';
    width: 100%;
    background-color: black;
    height: 1px;
    display: block;
}

.btn:hover {
    cursor: pointer;
}

.overflow {
    overflow: auto;
    width: 100%;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.contentContainer {
    width: 400px;
    height: auto;
    background-color: #E1E1E1;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    border: 1px none #B5B5B5;
    box-shadow: 1px 1px 10px #9FA6B2;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.contentTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #494949;
}

.contentBody {
    display: flex;
    flex-direction: column;
}

.contentItem {
    font-size: 1.3em;
    display: flex;
    align-items: center;
    height: 50px;
}

.contentItem:hover{
    cursor: pointer;
}

.contentCat {
    color: #9E9E9E;
    font-size: 0.8em;
}

.contentItemContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-color: #BFBFBF;
    border-width: 1px;
    border-style: none none solid none;
}

.emptyContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.empty {
    font-weight: bold;
    font-size: 2em;
}