.view {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: auto;
}

.row:nth-child(even) {
    background-color: #dddddd;
}

.table {
    border-collapse: collapse;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table > tbody > tr > th {
    background-color: #00b359;
    padding: 10px;
}

.id, .name{
    text-align: left;
    padding: 8px;
}

.id {
    text-align: center;
}

.name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.iconGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.icon {
    width: 25px;
    height: 25px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 100ms;
    border-radius: 100%;
}

.icon:hover {
    cursor: pointer;
    background-color: #38D8FF;
}

.empty {
    font-weight: bold;
    font-size: 1.3em;
    color: gray;
    padding: 20px;
}

.header {
    color: white;
}

