.new > i{
    background-color: #00ff66;
    color: white;
    text-shadow: 0 0 3px black;
}
.edit > i {
    background-color: #ffbf00;
    color: white;
    text-shadow: 0 0 3px black;
}
.save > i {
    background-color: #00bfff;
    color: white;
    text-shadow: 0 0 3px black;
}
.delete > i {
    background-color: #ff002b;
    color: white;
    text-shadow: 0 0 3px black;
}
.btn_toggle > i {
    background-color: #9FA6B2;
    color: white;
    text-shadow: 0 0 3px black;
}
.new > span {
    background-color: #00ff66;
    color: white;
    text-shadow: 0 0 3px black;
}
.edit > span {
    background-color: #ffbf00;
    color: white;
    text-shadow: 0 0 3px black;
}
.save > span {
    background-color: #00bfff;
    color: white;
    text-shadow: 0 0 3px black;
}
.delete > span {
    background-color: #ff002b;
    color: white;
    text-shadow: 0 0 3px black;
}
.btn_toggle > span {
    background-color: #9FA6B2;
    color: white;
    text-shadow: 0 0 3px black;
}