.sideBar {
    position: absolute;
    left: 12px;
    top: 12px;
    width: fit-content;
    height: fit-content;
    padding: 8px 5px 0px 5px;
    background-color: white;
    border-radius: 5px;
    border: solid 1px var(--themeBorderColorChild);
    box-shadow: var(--boxShadow1);
}

.sideBar ul {
    width: 100%;
    height: 100%;
}

.sideBar ul a {
    display: block;
    width: 100%;
    margin-bottom: 8px;
}

.sideBar ul a li {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}
.sideBar ul a:hover li i {
    transform: scale(1.07);
}
.sideBar ul a:active li i {
    transform: scale(1);
}

.sideBar ul a li i {
    display: block;
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: var(--boxShadow) inset;
}

.sideBar ul a li span {
    margin-left: 7px;
    padding: 0px 10px;
    flex: 1;
    height: 26px;
    font-size: var(--fontSizeTextMini);
    line-height: 26px;
    border-radius: 8px;
    box-shadow: var(--boxShadow) inset;
    font-weight: 500;
    text-align: center;
}