.detail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.40);
    border-radius: 7px;
}

.detailContainer {
    max-width: 700px;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    overflow-y: scroll;
}
.detailContainer::-webkit-scrollbar {
    display: none;
}

.detailContent {
    width: 100%;
    padding: 10px;
    background-color: rgb(225, 225, 225);
    border-radius: 5px;
    box-shadow: var(--boxShadow);
}