.itemTheme {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #606060;
}

.header {
    font-weight: bold;
    font-size: 1.3em;
    padding: 20px;
}

.informationContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
    overflow: auto;
}

.label {
    font-weight: bold;
    padding: 5px;
}
.input {
    border: 1px solid #E7E7E7;
    outline: none;
    padding: 5px 5px;
    width: 100%;
    background-color: #F4F4F4;
    border-radius: 5px;
    height: 50px;
}

.select {
    border-radius: 5px;
    border: 1px solid black;
}

.btn {
    padding: 5px;
    border-radius: 20px 20px;
    width: 75px;
}

.btn:hover {
    cursor: pointer;
}

.selectCtn {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;
}