.itemTheme {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header {
    font-weight: bold;
    font-size: 1.3em;
    padding: 20px;
}

.informationContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.label {
    font-weight: bold;
    padding: 5px;
}
.input {
    border-style: none none solid none;
    outline: none;
    padding: 5px 5px;
    width: 100%;
}

.select {
    border-radius: 5px;
    border: 1px solid black;
}

.btn {
    padding: 5px;
    border-radius: 20px 20px;
    width: 75px;
}

.btn:hover {
    cursor: pointer;
}

.selectCtn {
    height: 130px;
    width: 100%;
}
