.main {
    position: relative;
    width: 80%;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    height: 100%;
    background-color: var(--themeColor);
    border: solid 1px var(--themeBorderColor);
}

.profile {
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: #fff;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.header {
    text-align: center;
    padding: 50px;
    font-size: 2em;
}

.container {
    width: 100%;
    height: auto;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.avatar {
    width: 200px;
    height: 200px;
    border: 3px groove #00ccff;
    border-radius: 100%;
    margin-bottom: 20px;
    overflow: hidden;
}

.inputCtn {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.label {
    color: #575757;
    font-weight: revert;
    text-shadow: 0 0 1px #575757;
    padding-bottom: 8px;
}

.input {
    padding: 8px;
    border-radius: 5px;
    border-width: 1px;
    outline-color: #38D8FF;
}

.group2{
    display: flex;
    flex-direction: row;
    width: 550px;
}

.group1 {
    flex: 1;
    width: 550px;
}

.btnGroup {
    width: 550px;
    display: flex;
    justify-content: start;
}

.btn {
    padding: 13px 8px;
    margin: 20px;
    width: 80px;
    border: none;
    outline: none;
    background-color: #007CDD;
    border-radius: 8px;
    color: white;
}

.avatarImg {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}