.main {
    position: relative;
    width: 100%;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    height: 100%;
    background-color: var(--themeColor);
    border: solid 1px var(--themeBorderColor);
}

.body {
    width: 100%;
    height: 100%;
    background-color: white;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    padding: 10px;
}

.container {
    margin: auto;
    width: 430px;
    height: auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 7px dimgrey;
}
.container > div {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.container > div:first-child {
    font-size: 20px !important;
    padding: 15px;
    text-transform: uppercase;
    border-bottom: solid 1px darkgrey;
}

.header {
    font-size: 2em;
    margin: 20px;
    color: salmon;
}

.header::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: black;
}

.fill {
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input {
    display: flex;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

.input div {

    margin: 50px 0;
}

.formIcon {
    background-color: orange;
    box-shadow: var(--boxShadow) inset;
    color: white;
    text-shadow: 0 0 3px black;
    display: block;
    height: 50px;
    width: 55px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    border: solid 2px gray;
    border-radius: 5px;
    margin-right: 5px;
}

.input input {
    width: 100%;
    border-radius: 10px;
    padding: 10px 15px;
    border-width: 1px;
}

.btnGroup {
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
    align-items: center;
}

.submit {
    font-size: 1.5em;
    border-radius: 50px;
    padding: 5px 30px;
    border: none;
    width: 40%;
    background-color: #66C41D;
    color: white;
}

.signup {
    border: none;
    outline: none;
    background-color: transparent;
}

.signup::after {
    content: '';
    display: block;
    width: 0%;
    height: 1px;
    background-color: black;
    transition: width 500ms;
}

.signup:hover::after {
    width: 100%;
}

.signup:hover, .submit:hover {
    cursor: pointer;
}

.label {
    position: absolute;
    top: 0;
    font-size: 10px;
    margin: 10px;
    padding: 0 10px;
    background-color: white;
    color: gray;
    -webkit-transition: top .2s ease-in-out, font-size .2s ease-in-out;
    transition: top .2s ease-in-out, font-size .2s ease-in-out;
}

.active {
    top: -18px;
    font-size: 10px;
}

.logo {
    width: 40%;
    margin: 10px auto;
    display: block;
}

.or {
    text-align: center;
    font-weight: lighter;
    color: gray;
}

.inputText {
    border-radius: 10px;
}
