.header {
    /* border: solid 1px; */
    position: fixed;
    z-index: 24;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    width: 100%;
    height: 50px;
    background-color: var(--themeColor);
    color: var(--textColor);
    border-bottom: solid 1px var(--themeBorderColor);
    box-shadow: var(--boxShadow1);
}

.navGroup {
    display: flex;
    flex: 1;
    height: 100%;
    align-items: center;
}

.logoPage {
    width: 151px;
    height: 36px;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    background-color: white;
    box-shadow: 0 0 3px rgb(163, 163, 163);
    border-radius: 5px;
}
.logoPage > div {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 2px black inset;
    padding: 1px;
}
.logoPage img {
    user-select: none;
    pointer-events: none;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: block;
}

.btnGroup {
    display: flex;
    gap: 10px;
}

.signin, .signup {
    outline: none;
    border: none;
    padding: 8px 20px;
    border-radius: 30px 30px;
    font-weight: bold;
    box-shadow: 5px 2px 15px black;
}

.signin:hover, .signup:hover {
    cursor: pointer;
}

.userBtn {
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 3px white;
    padding: 2px 5px;
}

.user {
    margin-right: 75px;
}

.userBtn:hover, .btn:hover {
    cursor: pointer;
}

.btngroup {
    display: flex;
    flex-direction: column;
    position: absolute;
}

.btn {
    padding: 3px 10px;
    display: flex;
    width: 100px;
    /*justify-content: space-between;*/
    gap: 10px;
    outline: none;
    background-color: #CBCBCB;
    color: black;
    border: 1px none;
    border-bottom-style: solid;
}

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    margin-right: 5px;
}