.mainContainer {
    width: 100%;
    height: 100%;
    padding: 5px 5px 5px 47px;
    background-color: var(--themeBackgroundColorChild);
    border-radius: 5px;
    border: solid 1px var(--themeBorderColor);
}
