.title {
    font-size: 1.5em;
    padding: 7px;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 10px;
}

.contentContainer {
    width: 80%;
    height: 30%;
    background-color: #E1E1E1;
    margin: auto auto;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px;
    border-style: none none solid none;
    border-width: 1px;
    border-color: #9E9E9E;
}