.btnSave {
    display: block;
    width: fit-content;
    border-radius: 8px;
}
.btnSave li {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}
.btnSave:hover li i {
    transform: scale(1.07);
}
.btnSave:active li i {
    transform: scale(1);
}

.btnSave li i {
    display: block;
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: var(--boxShadow) inset;
}
.btnSave i{
    background-color: #00bfff;
    color: white;
    text-shadow: 0 0 3px black;
}