.nav {
    margin-left: 20px;
    height: 100%;
    width: fit-content;
}
.nav > ul {
    display: flex;
    align-items: center;
    height: 100%;
}
.nav ul a {
    user-select: none;
    display: flex;
    height: 30px;
    padding:  3px 5px;
    margin: 0 5px;
    align-items: flex-end;
    font-size: var(--fontSizeText);
    font-weight: 500;
    color: white;
    text-shadow: 0 0 2px rgb(0, 0, 0);
    border-bottom: solid 2px var(--themeColor);
}
.nav ul a li i {
    margin-right: 5px;
}
.nav ul .curNav {
    border-bottom: solid 2px var(--g_green);
    text-shadow: unset;
    padding-bottom: 5px;
    transition: 150ms;
}
.nav ul .curNav li i {
    transform: scale(1.2);
    color: var(--g_green);
}
.nav ul a:hover {
    border-bottom: solid 2px var(--g_green);
    text-shadow: unset;
    padding-bottom: 5px;
    transition: 150ms;
}
.nav ul a:hover li i {
    transform: scale(1.2);
}
.nav ul a:active li i {
    transform: scale(0.95);
}
