.nav {
    width: 100%;
    height: 50px;
    margin: 2px 0 5px 0;
}

.nav ul {
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--themeNavBarColor);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.nav ul a {
    height: 30px;
    width: 170px;
    border-radius: 15px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 500;
}

.nav ul a li {
    width: 100%;
    height: 100%;
    text-align: center;
    color: black;
}

.nav ul .sidePage {
    background-color: #45e300;
    border-bottom: solid 2px #277d02;
}

.nav ul .currentPage {
    height: 36px;
    width: 240px;
    border-radius: 18px;
    line-height: 36px;
    font-weight: 700;
    background-color: #e6db11;
    border-bottom: solid 3px #8b8506;
}
.nav ul .currentPage > li {
    font-size: 18px;
}
.nav ul .currentPage:hover {
    background-color: #bfb609;
}
.nav ul .sidePage:hover {
    background-color: #39b703;
}
.nav ul a:hover > li {
    color: white;
    text-shadow: 0 0 1px black;
}
.nav ul a:active {
    border: none;
}

