.btnView {
    display: block;
    width: 100%;
    margin-bottom: 8px;
}
.btnView li {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}
.btnView:hover li i {
    transform: scale(1.07);
}
.btnView:active li i {
    transform: scale(1);
}

.btnView li i {
    display: block;
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: var(--boxShadow) inset;
}
.btnView i {
    background-color: #d400ff;
    color: white;
    text-shadow: 0 0 3px black;
}